body {
  font-family: arial;
  margin: 0;
}

header {
  height: 50px;
  background-color: black;
  line-height: 50px;
}

header a {
    color: white;
    text-decoration: none;
}


.langs {
  float: right;
}
