body {
  font-family: arial;
  margin: 0;
}

header {
  height: 50px;
  background-color: black;
  line-height: 50px;
}

header a {
    color: white;
    text-decoration: none;
    padding:0 15px;
    display: inline-block;
}

header a:hover {
  color: black;
  background-color: white;
}

.langs {
  float: right;
}

.wrap {
  width: 1200px;
  margin: auto;
}
